html,
body {
  height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f5f5;
   margin-left: 350px;
}

div {
    font-size: xx-large;
}
/* .row {
    letter-spacing: 20px;
}
.not {
    letter-spacing: 0px;
} */

.calc {
    border: 10px;
    border-radius: 20px;
    border-color: red;
    border-style: ridge;
}

 .input {
    background-color: darkgrey;
   width: 800px;
    border-radius: 25px;
   
    font-size: 26px;
    text-align: right;
   
} 

input{
    border-radius: 15px;
    width: 80px;
    color: darkslategray;
    background-color: tomato;
}
/* #display {
    width: 265px;
    max-width: 270px;
    font-size: 26px;
    text-align: right;
    background-color: #bcbd95;
    float: left;
  } */


.row1 {
    letter-spacing: 0px;
    width: 800px;
}

.back {
    border-radius: 15px;
    width: 80px;
    color: darkslategray;
    background-color: tomato;
}

.nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .nav-link{
 
    color: black
    /* text-decoration: none; */
  }
  .a{
    color: chocolate;
  }
  
  .nav-link:hover{
    color: chocolate;
   
  }
  .nav-link {
    position: relative;
  }
  
  .nav-link::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: chocolate;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
      
    }  

ul {
    font-size: medium;
}    

