body {
  height: 100%;
}

.scientific-func {
  display: none;
}



nav {
  float: right;
}

.left {
  text-align: left;
}

.right {
  text-align: right;

}

/* .right2 {
  text-align: right;
  margin-left: 650px;
} */

.rowd2 {
  display: none;

}


.btn-dark1 {
  border-radius: 15px;
  float: right;
}

.btn-light1 {
  border-radius: 15px;
  float: right;
}


body {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f5f5;
  margin-right: -460px;
width: 1300px;
}

div {
  font-size: xx-large;
}

/* .row {
    letter-spacing: 20px;
}
.not {
    letter-spacing: 0px;
} */

.calc {
  border: 10px;
  border-radius: 20px;
  border-color: red;
  border-style: ridge;
}

table {
  width: 800px;
}

.equal {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  color: #000;
  background-color: purple;
  border: none;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}

.equal:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px purple;
  color: #fff;
  transform: translateY(-7px);
}



tr {
  width: 800px;
}

.input {
  background-color: black;
  width: 700px;
  border-radius: 25px;
  border: black;
  font-size: 26px;
  text-align: right;
  font-weight: bolder;
  color: white;
  text-align: right;
}

.input1 {
  background-color: black;
  width: 700px;
  border-radius: 25px;
  border: black;
  font-size: 26px;
  font-weight: 900;
  color: purple;
  text-align: left;
}

.row1 {
  color: purple;

}

.let {
  font-size: large;
  cursor: pointer;

}

.let1 {
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}




/* .let::before {
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.let:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.let:hover{
  color: black;
} */

.light-mode {
  display: none;
}

.science2 {
  border-radius: 25px;

}

.output {
  background-color: black;
  border-radius: 25px;
}

.inputbtn {
  width: 140px;
  height: 45px;

  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.inputbtn:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px purple;
  color: #fff;
  transform: translateY(-7px);
}

.inputc {
  width: 140px;
  height: 45px;

  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.inputc:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px purple;
  color: #fff;
  transform: translateY(-7px);
}

.left1 {
  color: white;
}

.converter {
  display: none;
  margin-left: -108px;
}

.conversion {
  width: 900px;
}

/* .conversion2 {
  width: 1200px;
} */

.card {
  height: 400px;
  width: 18rem;
}

.length {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.length-form {
  margin-right: 100px;
  height: 200px;

}

.mass {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.exchangesection {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}


.time {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.temp {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.speed {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.volume {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.speed-form {
  margin-right: 100px;
  height: 200px;
}

.currency-form {
  margin-right: 100px;
  height: 200px;
}

.time-form {
  margin-right: 100px;
  height: 200px;
}

.temp-form {
  margin-right: 100px;
  height: 200px;
}

.volume-form {
  margin-right: 100px;
  height: 200px;
}


.mass-form {
  margin-right: 100px;
  height: 200px;
}


.convmenu {
  margin-left: 12px;
}

/* .massnum {
  
  position: fixed;
} */
.ifempty {
  display: none;
}

.sameunit {
  display: none;
}

.gram-gram {
  display: none;
}

.kilo-gram {
  display: none;
}

.mile-mile {
  display: none;
}

.kilo-metre {
  display: none;
}

.meter-meter {
  display: none;
}

.centi-meter {
  display: none;
}

.kph1 {
  display: none;
}

.mps1 {
  display: none;
}

.sec-sec {
  display: none;
}

.min-min {
  display: none;
}

.hr-hr {
  display: none;
}

.day-day {
  display: none;
}

.wk-wk {
  display: none;
}

.mth-mth {
  display: none;
}

.yr-yr {
  display: none;
}

.cel-cel {
  display: none;
}

.kel-kel {
  display: none;
}

.fah-fah {
  display: none;
}

.liter1 {
  display: none;
}

.cubic1 {
  display: none;
}


/* .conversion {
  width: 800px;
} */

/* ----------------------------------------------- */

/* DARK MODE CODE */

.darker {
  background-color: #000;
}

.back {
  background-color: #000;
}

.output1 {
  background-color: white;
  border-radius: 25px;
}

.rowdark {
  background-color: #000;
  color: white;
}

.inputbtd {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  color: white;
  background-color: black;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-weight: bolder;
  font-size: large;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.inputbtd:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px black;
  color: #fff;
  transform: translateY(-7px);
}

.inputfd {
  background-color: white;
  width: 700px;
  border-radius: 25px;
  border: white;
  font-size: 26px;
  text-align: right;
  font-weight: bolder;
  color: black;
  text-align: right;
}

.inputfd1 {
  background-color: white;
  width: 700px;
  border-radius: 25px;
  border: white;
  font-size: 26px;
  font-weight: bolder;
  color: purple;
  text-align: left;
}

.inputd {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  color: white;
  background-color: black;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-weight: bolder;
  font-size: large;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.inputd:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px black;
  color: #fff;
  transform: translateY(-7px);
}

/* DARK MODE CODE ENDS */

.table {
  width: 350px;
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.bracket {
  height: 80px;
  width: 30px;
}

.inputbtn {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  color: black;
  background-color: white;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-weight: bolder;
  font-size: large;
}

.inputc {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  color: black;
  background-color: white;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-weight: bolder;
  font-size: large;

}

/* #display {
    width: 265px;
    max-width: 270px;
    font-size: 26px;
    text-align: right;
    background-color: #bcbd95;
    float: left;
  } */


.row1 {
  letter-spacing: 0px;
  width: 800px;
}



.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-link {

  color: black
    /* text-decoration: none; */
}

.nav-link:hover {
  color: black;

}

.nav-link {

  color: black;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;

}

ul {
  font-size: medium;
}

/* iPHONE X PORTRAIT */
@media (min-device-width: 375px) and (max-device-width: 380px) {

  /* body {
    margin-right: 500px;
} */
  .card {
    width: 10rem;
  }

  body {
    width: 375px;
    margin-left: none;
  }

  .output {
    width: 350px;
  }

  .output1 {
    width: 350px;
  }

  .inputfd {
    width: 350px;
  }

  .inputfd1 {
    width: 350px;
  }

  .input1 {
    width: 350px;
  }

  .input {
    width: 350px;
  }

  .row1 {
    width: 350px;
  }

  table {
    width: 355px;
  }

  .conversion {
    width: 350px;

  }

  .mass {
    width: 375px;
  }

  .length {
    width: 375px;
  }

  .speed {
    width: 375px;
  }

  .time {
    width: 375px;
  }

  .temp {

    width: 375px;
  }

  .volume {

    width: 375px;
  }

  .exchangesection {
    width: 375px;
    margin-left: 2px;
    margin-right: none;
  }

  .converter {
    margin-left: 2px;
    margin-right: none;
  }

  .convmenu {
    margin-left: none;
    margin-right: none;
  }
}

/* iPHONE X LANDSCAPE */
@media (min-device-width:812px) and (max-device-width:820px) {

  /* body {
    margin-right: 500px;
} */
  .card {
    width: 10rem;
  }


  .output {
    width: 780px;
  }

  .output1 {
    width: 780px;
  }

  .inputfd {
    width: 750px;
  }

  .inputfd1 {
    width: 750px;
  }

  .input1 {
    width: 750px;
  }

  .input {
    width: 750px;
  }

  .row1 {
    width: 750px;
  }

  table {
    width: 700px;
  }

  .mass {
    width: 800px;
  }

  .length {
    width: 800px;
  }

  .speed {
    width: 800px;
  }

  .time {
    width: 800px;
  }

  .temp {

    width: 800px;
  }

  .volume {

    width: 800px;
  }

  .exchangesection {
    width: 800px;

  }

  .converter {
    margin-left: 1px;
    margin-right: none;
  }


}

/* iPAD */
@media (min-device-width:768px) and (max-device-width:778px) {
  body {
    width: 768px;
  }

  form {
    width: 768px;
  }

  .card {
    width: 12rem;
  }

  .output {
    width: 700px;
  }

  .output1 {
    width: 700px;
  }

  .inputfd {
    width: 700px;
  }

  .inputfd1 {
    width: 700px;
  }

  .input1 {
    width: 700px;
  }

  .input {
    width: 700px;
  }

  .row1 {
    width: 700px;
  }

  table {
    width: 700px;
  }

  .mass {
    width: 700px;
  }

  .mass-form {
    width: 600px;
    margin-right: 100px;
  }

  .length {
    width: 700px;
  }

  .length-form {
    width: 600px;
    margin-right: 100px;
  }

  .speed {
    width: 700px;
  }

  .speed-form {
    width: 600px;
    margin-right: 100px;
  }

  .time {
    width: 700px;
  }

  .time-form {
    width: 600px;
    margin-right: 100px;
  }

  .temp {

    width: 700px;
  }

  .temp-form {
    width: 600px;
    margin-right: 100px;
  }

  .volume {

    width: 700px;
  }

  .volume-form {
    width: 600px;
    margin-right: 100px;
  }

  .exchangesection {
    width: 700px;
  }

  .currency-form {
    width: 600px;
    margin-right: 100px;
  }

  .converter {
    margin-left: 1px;
    margin-right: none;
  }

  .card {
    width: 15rem;
  }


}

/* iPAD MINI AND iPAD PRO */
@media (min-device-width:1024px) and (max-device-width:1056px) {
  body {
    width: 1024px;
  }

  form {
    width: 1024px;
  }


  .output {
    width: 1000px;
  }

  .output1 {
    width: 1000px;
  }

  .inputfd {
    width: 1000px;
  }

  .inputfd1 {
    width: 1000px;
  }

  .input1 {
    width: 1000px;
  }

  .input {
    width: 1000px;
  }

  .row1 {
    width: 1000px;
  }

  table {
    width: 1000px;
  }

  .mass {
    width: 1000px;
  }

  .mass-form {
    width: 1000px;
    margin-right: 100px;
  }

  .length {
    width: 1000px;
  }

  .length-form {
    width: 1000px;
    margin-right: 100px;
  }

  .speed {
    width: 1000px;
  }

  .speed-form {
    width: 1000px;
    margin-right: 100px;
  }

  .time {
    width: 1000px;
  }

  .time-form {
    width: 1000px;
    margin-right: 100px;
  }

  .temp {

    width: 1000px;
  }

  .temp-form {
    width: 1000px;
    margin-right: 100px;
  }

  .volume {

    width: 1000px;
  }

  .volume-form {
    width: 1000px;
    margin-right: 100px;
  }

  .exchangesection {
    width: 1000px;

    margin-right: -5px;
  }

  .currency-form {
    width: 900px;
    margin-right: 100px;
  }

  .converter {
    margin-right: 100px;
  }

  .convmenu {
    width: 1000px;
    margin-left: -90px;
  }

  .card {
    width: 15rem;
  }

  .conversion {
    width: 1000px;
  }


}

/*  iPHONE 6,7,8 LANDSCAPE MODE */
@media (min-device-width: 667px) and (max-device-width: 677px) {
  body {
    width: 667px;

  }

  form {
    width: 667px;
  }


  .output {
    width: 630px;
  }

  .output1 {
    width: 630px;
  }

  .inputfd {
    width: 630px;
  }

  .inputfd1 {
    width: 630px;
  }

  .input1 {
    width: 630px;
  }

  .input {
    width: 630px;
  }

  .row1 {
    width: 650px;
  }

  table {
    width: 630px;
  }

  .mass {
    width: 650px;
  }

  .mass-form {
    width: 630px;
    margin-right: 100px;
  }

  .length {
    width: 650px;
  }

  .length-form {
    width: 630px;
    margin-right: 100px;
  }

  .speed {
    width: 650px;
  }

  .speed-form {
    width: 630px;
    margin-right: 100px;
  }

  .time {
    width: 650px;
  }

  .time-form {
    width: 630px;
    margin-right: 100px;
  }

  .temp {

    width: 650px;
  }

  .temp-form {
    width: 630px;
    margin-right: 100px;
  }

  .volume {

    width: 650px;
  }

  .volume-form {
    width: 630px;
    margin-right: 100px;
  }

  .exchangesection {
    width: 650px;
    margin-left: 10px;
  }

  .currency-form {
    width: 630px;
    margin-right: 100px;
  }

  .converter {
    margin-right: 100px;
  }

  .convmenu {
    width: 1000px;
    margin-left: -90px;
  }

  .card {
    width: 15rem;
  }

  .conversion {
    width: 365px;
  }


}

/* iPHONE 6+,7+,8+ PORTRAIT MODE */
@media (min-device-width: 414px) and (max-device-width: 430px) {
  body {
    width: 414px;
    margin-left: none;
  }

  form {
    width: 414px;
  }


  .output {
    width: 380px;
  }

  .output1 {
    width: 380px;
  }

  .inputfd {
    width: 380px;
  }

  .inputfd1 {
    width: 380px;
  }

  .input1 {
    width: 380px;
  }

  .input {
    width: 380px;
  }

  .row1 {
    width: 400px;
  }

  table {
    width: 400px;
  }

  .converter {
    display: none;
    margin-left: 1px;
    width: 412px;
  }

  .mass {
    width: 400px;
  }

  .mass-form {
    width: 350px;
    margin-right: 100px;
  }

  .length {
    width: 400px;
  }

  .length-form {
    width: 350px;
    margin-right: 100px;
  }

  .speed {
    width: 400px;
  }

  .speed-form {
    width: 350px;
    margin-right: 100px;
  }

  .time {
    width: 400px;
  }

  .time-form {
    width: 350px;
    margin-right: 100px;
  }

  .temp {

    width: 400px;
  }

  .temp-form {
    width: 350px;
    margin-right: 100px;
  }

  .volume {

    width: 400px;
  }

  .volume-form {
    width: 350px;
    margin-right: 100px;
  }

  .exchangesection {
    width: 400px;
    margin-left: 10px;
    margin-bottom: 150px;
  }

  .currency-form {
    width: 350px;
    margin-right: 100px;
  }

  .converter {
    margin-right: 100px;
  }

  .convmenu {
    width: 1000px;
    margin-left: -90px;
  }

  .card {
    width: 15rem;
  }

  .conversion {
    width: 365px;
  }


}

/* iPHONE 6+,7+,8+ LANDSCAPE MODE */
@media (min-device-width: 736px) and (max-device-width: 746px) {
  body {

    margin-left: none;
    width: 736px;
  }

  form {
    width: 736px;
  }


  .output {
    width: 700px;
  }

  .output1 {
    width: 700px;
  }

  .inputfd {
    width: 700px;
  }

  .inputfd1 {
    width: 700px;
  }

  .input1 {
    width: 700px;
  }

  .input {
    width: 700px;
  }

  .row1 {
    width: 720px;
  }

  table {
    width: 720px;
  }

  .converter {
    display: none;
    margin-left: 1px;
    width: 720px;
  }

  .mass {
    width: 720px;
  }

  .mass-form {
    width: 690px;
    margin-right: 100px;
  }

  .length {
    width: 720px;
  }

  .length-form {
    width: 690px;
    margin-right: 100px;
  }

  .speed {
    width: 720px;
  }

  .speed-form {
    width: 690px;
    margin-right: 100px;
  }

  .time {
    width: 720px;
  }

  .time-form {
    width: 690px;
    margin-right: 100px;
  }

  .temp {

    width: 720px;
  }

  .temp-form {
    width: 690px;
    margin-right: 100px;
  }

  .volume {

    width: 720px;
  }

  .volume-form {
    width: 690px;
    margin-right: 100px;
  }

  .exchangesection {
    width: 720px;

    margin-bottom: 150px;
  }

  .currency-form {
    width: 690px;
    margin-right: 100px;
  }

  /* .converter {
    margin-right: 100px;
  } */
  .convmenu {
    width: 1000px;
    margin-left: -90px;
  }

  .card {
    width: 15rem;
  }

  .conversion {
    width: 365px;
  }


}


/* SAMSUNG */
@media (min-device-width: 412px) and (max-device-width: 422px) {
  body {
    width: 412px;
    margin-left: none;
  }

  form {
    width: 400px;
  }


  .output {
    width: 380px;
  }

  .output1 {
    width: 380px;
  }

  .inputfd {
    width: 380px;
  }

  .inputfd1 {
    width: 380px;
  }

  .input1 {
    width: 380px;
  }

  .input {
    width: 380px;
  }

  .row1 {
    width: 400px;
  }

  table {
    width: 370px;
  }

  .card {
    width: 8rem;
  }

  .converter {
    display: none;
    margin-left: 1px;
    width: 400px;
  }

  .mass {
    width: 400px;
  }

  .mass-form {
    width: 380px;
    margin-right: 100px;
  }

  .length {
    width: 400px;
  }

  .length-form {
    width: 380px;
    margin-right: 100px;
  }

  .speed {
    width: 400px;
  }

  .speed-form {
    width: 380px;
    margin-right: 100px;
  }

  .time {
    width: 400px;
  }

  .time-form {
    width: 380px;
    margin-right: 100px;
  }

  .temp {

    width: 400px;
  }

  .temp-form {
    width: 380px;
    margin-right: 100px;
  }

  .volume {

    width: 400px;
  }

  .volume-form {
    width: 380px;
    margin-right: 100px;
  }

  .exchangesection {
    width: 400px;

    margin-bottom: 150px;
  }

  .currency-form {
    width: 380px;
    margin-right: 100px;
  }

  /* .converter {
      margin-right: 100px;
    } */
  .convmenu {
    width: 300px;

  }

  .conversion {
    width: 300px;
  }


}


/* SAMSUNG LANDSCAPE */
@media (min-device-width: 914px) and (max-device-width: 924px) {
  body {
    width: 914px;

  }

  form {
    width: 914px;
  }


  .output {
    width: 890px;
  }

  .output1 {
    width: 890px;
  }

  .inputfd {
    width: 890px;
  }

  .inputfd1 {
    width: 890px;
  }

  .input1 {
    width: 890px;
  }

  .input {
    width: 890px;
  }

  .row1 {
    width: 900px;
  }

  table {
    width: 900px;
  }

  .converter {
    display: none;
    margin-left: 1px;
    width: 890px;
  }

  .mass {
    width: 890px;
  }

  .mass-form {
    width: 870px;
    margin-right: 100px;
  }

  .length {
    width: 890px;
  }

  .length-form {
    width: 870px;
    margin-right: 100px;
  }

  .speed {
    width: 890px;
  }

  .speed-form {
    width: 870px;
    margin-right: 100px;
  }

  .time {
    width: 890px;
  }

  .time-form {
    width: 870px;
    margin-right: 100px;
  }

  .temp {

    width: 890px;
  }

  .temp-form {
    width: 870px;
    margin-right: 100px;
  }

  .volume {

    width: 890px;
  }

  .volume-form {
    width: 870px;
    margin-right: 100px;
  }

  .exchangesection {
    width: 890px;

    margin-bottom: 150px;
  }

  .currency-form {
    width: 870px;
    margin-right: 100px;
  }

  /* .converter {
      margin-right: 100px;
    } */
  .convmenu {
    width: 900px;

  }

  .conversion {
    width: 900px;
  }


}

/* WIDE SCREEN TABLET LIKE iPAD PRO */
@media (min-device-width: 1366px) and (max-device-width: 1386px) {
  body {
    width: 1366px;
    margin-right: 100px;
  }

  form {
    width: 1366px;
  }


  .output {
    width: 1300px;
  }

  .output1 {
    width: 1300px;
  }

  .inputfd {
    width: 1300px;
  }

  .inputfd1 {
    width: 1300px;
  }

  .input1 {
    width: 1300px;
  }

  .input {
    width: 1300px;
  }

  .row1 {
    width: 1300px;
  }

  table {
    width: 1300px;
  }

  .converter {
    display: none;
    /* margin-left: 1px; */
    width: 1300px;
  }

  .mass {
    width: 1300px;
  }

  .mass-form {
    width: 1100px;
    margin-right: 100px;
  }

  .length {
    width: 1300px;
  }

  .length-form {
    width: 1100px;
    margin-right: 100px;
  }

  .speed {
    width: 1300px;
  }

  .speed-form {
    width: 1100px;
    margin-right: 100px;
  }

  .time {
    width: 1300px;
  }

  .time-form {
    width: 1100px;
    margin-right: 100px;
  }

  .temp {

    width: 1300px;
  }

  .temp-form {
    width: 1100px;
    margin-right: 100px;
  }

  .volume {
    width: 1300px;
  }

  .volume-form {
    width: 1100px;
    margin-right: 100px;
  }

  .exchangesection {
    width: 1300px;

    margin-bottom: 150px;
  }

  .currency-form {
    width: 1150px;
    margin-right: 300px;
  }

  /* .converter {
      margin-right: 100px;
    } */
  .convmenu {
    width: 1300px;


  }

  .conversion {
    width: 1300px;
   margin-left: 80px;
  }


}

@media only screen and (min-device-width: 1400px) {
  body {
    margin-left: 460px;
    width: 1500px;
  }
}