body {
  height: 100%;
}

.scientific-func {
  display: none;
}



nav {
  float: right;
}

.left {
  text-align: left;
}

.right {
  text-align: right;

}

/* .right2 {
  text-align: right;
  margin-left: 650px;
} */

.rowd2 {
  display: none;

}


.btn-dark1 {
  border-radius: 15px;
  float: right;
}

.btn-light1 {
  border-radius: 15px;
  float: right;
}


body {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f5f5;
  margin-left: 460px;
}

div {
  font-size: xx-large;
}

/* .row {
    letter-spacing: 20px;
}
.not {
    letter-spacing: 0px;
} */

.calc {
  border: 10px;
  border-radius: 20px;
  border-color: red;
  border-style: ridge;
}

table {
  width: 800px;
}

.equal {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  color: #000;
  background-color: purple;
  border: none;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}

.equal:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px purple;
  color: #fff;
  transform: translateY(-7px);
}



tr {
  width: 800px;
}

.input {
  background-color: black;
  width: 700px;
  border-radius: 25px;
  border: black;
  font-size: 26px;
  text-align: right;
  font-weight: bolder;
  color: white;
  text-align: right;
}

.input1 {
  background-color: black;
  width: 700px;
  border-radius: 25px;
  border: black;
  font-size: 26px;
 font-weight: 900;
  color: purple;
  text-align: left;
}

.row1 {
  color: purple;

}

.let {
  font-size: large;
  cursor: pointer;

}

.let1 {
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}




/* .let::before {
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.let:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.let:hover{
  color: black;
} */

.light-mode {
  display: none;
}

.science2 {
  border-radius: 25px;

}

.output {
  background-color: black;
  border-radius: 25px;
}

.inputbtn {
  width: 140px;
  height: 45px;

  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.inputbtn:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px purple;
  color: #fff;
  transform: translateY(-7px);
}

.inputc {
  width: 140px;
  height: 45px;

  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.inputc:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px purple;
  color: #fff;
  transform: translateY(-7px);
}

.left1 {
  color: white;
}

.converter {
  display: none;
  margin-left: -108px;
}

.conversion {
  width: 900px;
}

/* .conversion2 {
  width: 1200px;
} */

.card {
  height: 400px;
}

.length {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.length-form {
  margin-right: 100px;
  height: 200px;

}

.mass {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.exchangesection {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}


.time {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.temp {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.speed {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.volume {
  display: none;
  margin-top: 200px;
  border-radius: 25px;
  margin-left: -120px;
}

.speed-form {
  margin-right: 100px;
  height: 200px;
}

.currency-form {
  margin-right: 100px;
  height: 200px;
}

.time-form {
  margin-right: 100px;
  height: 200px;
}

.temp-form {
  margin-right: 100px;
  height: 200px;
}

.volume-form {
  margin-right: 100px;
  height: 200px;
}


.mass-form {
  margin-right: 100px;
  height: 200px;
}


.convmenu {
  margin-left: 12px;
}

/* .massnum {
  
  position: fixed;
} */
.ifempty {
  display: none;
}

.sameunit {
  display: none;
}

.gram-gram {
  display: none;
}

.kilo-gram {
  display: none;
}

.mile-mile {
  display: none;
}

.kilo-metre {
  display: none;
}

.meter-meter {
  display: none;
}

.centi-meter {
  display: none;
}

.kph1 {
  display: none;
}

.mps1 {
  display: none;
}

.sec-sec {
  display: none;
}

.min-min {
  display: none;
}

.hr-hr {
  display: none;
}

.day-day {
  display: none;
}

.wk-wk {
  display: none;
}

.mth-mth {
  display: none;
}

.yr-yr {
  display: none;
}

.cel-cel {
  display: none;
}

.kel-kel {
  display: none;
}

.fah-fah {
  display: none;
}

.liter1 {
  display: none;
}

.cubic1 {
  display: none;
}


/* .conversion {
  width: 800px;
} */

/* ----------------------------------------------- */

/* DARK MODE CODE */

.darker {
  background-color: #000;
}

.back {
  background-color: #000;
}

.output1 {
  background-color: white;
  border-radius: 25px;
}

.rowdark {
  background-color: #000;
  color: white;
}

.inputbtd {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  color: white;
  background-color: black;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-weight: bolder;
  font-size: large;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.inputbtd:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px black;
  color: #fff;
  transform: translateY(-7px);
}

.inputfd {
  background-color: white;
  width: 700px;
  border-radius: 25px;
  border: white;
  font-size: 26px;
  text-align: right;
  font-weight: bolder;
  color: black;
  text-align: right;
}

.inputfd1 {
  background-color: white;
  width: 700px;
  border-radius: 25px;
  border: white;
  font-size: 26px;
  font-weight: bolder;
  color: purple;
  text-align: left;
}

.inputd {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  color: white;
  background-color: black;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-weight: bolder;
  font-size: large;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.inputd:hover {
  background-color: purple;
  box-shadow: 0px 15px 20px black;
  color: #fff;
  transform: translateY(-7px);
}

/* DARK MODE CODE ENDS */

.table {
  width: 350px;
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.bracket {
  height: 80px;
  width: 30px;
}

.inputbtn {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  color: black;
  background-color: white;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-weight: bolder;
  font-size: large;
}

.inputc {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  color: black;
  background-color: white;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-weight: bolder;
  font-size: large;

}

/* #display {
    width: 265px;
    max-width: 270px;
    font-size: 26px;
    text-align: right;
    background-color: #bcbd95;
    float: left;
  } */


.row1 {
  letter-spacing: 0px;
  width: 800px;
}



.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-link {

  color: black
    /* text-decoration: none; */
}

.nav-link:hover {
  color: black;

}

.nav-link {

  color: black;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;

}

ul {
  font-size: medium;
}



/* @media only screen and (max-width: 414px) {
  body {
   background-color: #f5f5f5;
 padding: auto;

   }
   form {
    width: 390px;
   }
   .output {
    width: 390px;
   }
   .output1 {
    width: 390px;
   }

   table {
    width: 380px;
   }
   
tr {
  width: 390px;
}
.input {
  background-color: black;
  width: 390px;
  border-radius: 25px;
  border: black;
  font-size: 26px;
  text-align: right;
  font-weight: bolder;
  color: white;
  text-align: right;
}

.input1 {
  background-color: black;
  width: 39px;
  border-radius: 25px;
  border: black;
  font-size: 26px;
 font-weight: 900;
  color: purple;
  text-align: left;
}
.conversion {
  width: 400px;
}
.inputfd {
  background-color: white;
  width: 390px;
  border-radius: 25px;
  border: white;
  font-size: 26px;
  text-align: right;
  font-weight: bolder;
  color: black;
  text-align: right;
}

.inputfd1 {
  background-color: white;
  width: 390px;
  border-radius: 25px;
  border: white;
  font-size: 26px;
  font-weight: bolder;
  color: purple;
  text-align: left;
}
.row1 {
  letter-spacing: 0px;
  width: 390px;
}

}
@media only screen and (max-height: 736px) {
  body {
   background-color: #f5f5f5;
  padding: auto;
   
  }
  form {
    width: 400px;
   }
   .output {
    width: 390px;
   }
   .output1 {
    width: 390px;
   }
   table {
    width: 380px;
   }
   
tr {
  width: 390px;
}
.input {
  background-color: black;
  width: 390px;
  border-radius: 25px;
  border: black;
  font-size: 26px;
  text-align: right;
  font-weight: bolder;
  color: white;
  text-align: right;
}

.input1 {
  background-color: black;
  width: 390px;
  border-radius: 25px;
  border: black;
  font-size: 26px;
 font-weight: 900;
  color: purple;
  text-align: left;
}
.conversion {
  width: 400px;
}
.inputfd {
  background-color: white;
  width: 390px;
  border-radius: 25px;
  border: white;
  font-size: 26px;
  text-align: right;
  font-weight: bolder;
  color: black;
  text-align: right;
}

.inputfd1 {
  background-color: white;
  width: 390px;
  border-radius: 25px;
  border: white;
  font-size: 26px;
  font-weight: bolder;
  color: purple;
  text-align: left;
}
.row1 {
  letter-spacing: 0px;
  width: 390px;
}
} */